@use "../../defaults/color_variable" as color;
@use "../../defaults/fonts";

.main-landingpage {
  padding: 2rem 1rem 1rem 3rem;
  background: url('../../../assets/background.png') no-repeat center center !important;
  background-size: cover;
  height: 100svh !important;
  background-color: color.$white !important; 
  font-family: 'Poppins', sans-serif;
  .banner-section{
    padding: 1rem 7%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 15%;
    .text-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .header{
      font-size: 90px;
      width: 600px;
      margin-bottom: 1rem;
      font-weight: 700;
      .highlighter{
        color: color.$text-primary;
        text-shadow: 1px 8px 16px color.$somnambulist;
      }
    }
    .secondary-text{
      font-family: color.$font-family-secondary;
      font-size: 17px;
      font-weight: 100;
      color: color.$ternary;
      
    }
    .banner-button{
      margin-top: 1.5rem;
      display: flex;
      gap: 3%;
      .explore-btn{
        padding: 0.5rem 2rem;
        font-family: color.$font-family-secondary !important;
        font-weight: 700 !important;
        background-color: color.$primary;
        border-radius: 13px;
      }
      .contactbtn{
        padding: 0.5rem 2rem;
        font-family: color.$font-family-secondary !important;
        font-weight: 700 !important;
        color: color.$primary;
        border-color: color.$primary-color;
      }
    }
  }
}

.landingpage-navmain {
  position: sticky !important;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 7%;
  margin-bottom: 1.5rem;
  .navlist {
    ul {
      display: flex !important;
      gap: 3.6rem;
      list-style-type: none;
      .active{
        position: relative;
        &::after{
          content: "";
          background-color: color.$primary-color !important;
          display: inline-block;
          position: absolute;
          width: 100% !important;
          z-index: 999;
          height: 10% !important;
          bottom: 0;
          left: 0;
          top: 1.5rem;
        };
      };
      
      li a {
        text-decoration: none;
        color: color.$black !important;
        font-size: 1.2rem;
        font-weight: 500;
        
      }
    }
  }
  .action-btns {
    display: flex;
    gap: 1rem;
    .signup-btn {
      background-color: color.$primary-color;
      color: color.$black;
      font-weight: 600;
    }
    .login-btn {
      border-color: color.$secondary-dark;
      color: color.$secondary-dark;
    }
  }
}
