@use "../../defaults/color_variable" as color;
@use "../../defaults/fonts";

.main-landingpage {
  // padding: 2rem 1rem 1rem 3rem;
  background: url("../../../assets/background.png") no-repeat center center !important;
  background-size: cover;
  height: 100% !important;
  background-color: color.$white !important;
  font-family: "Poppins", sans-serif;
  .banner-section {
    padding: 1rem 7%;
    height: 90% !important;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 5%;
    .text-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .header {
      font-size: 85px;
      width: 600px;
      line-height: 6rem;
      margin-bottom: 1rem;
      font-weight: 700;
      color: color.$primary-dark;
      .highlighter {
        color: color.$text-primary;
        text-shadow: 1px 8px 16px color.$somnambulist;
      }
    }
    .secondary-text {
      font-family: color.$font-family-secondary;
      font-size: 17px;
      font-weight: 100;
      color: color.$ternary;
      margin-left: 0px !important;
    }
    .banner-button {
      margin-top: 1.5rem;
      display: flex;
      gap: 3%;
      .explore-btn {
        padding: 0.5rem 2rem;
        font-family: color.$font-family-secondary !important;
        font-weight: 700 !important;
        background-color: color.$primary;
        border-radius: 13px;
      }
      .contactbtn {
        padding: 0.5rem 2rem;
        font-family: color.$font-family-secondary !important;
        font-weight: 700 !important;
        color: color.$primary-color;
        border-color: color.$primary-color;
      }
    }
    .marqueediv {
      display: flex;
      // margin-top: 84% !important;
      // gap: 10%;
      width: 100%;
      gap: 5%;
      height: 100%;
    }
  }
  .about-section {
    padding: 1rem 7%;
    margin-top: 3rem;
    // background-color: color.$shade;
    text-align: center;
    margin-bottom: 3rem;
    color: color.$primary-dark;
    .sectionHeader {
      font-weight: 600;
      letter-spacing: 0.1rem;
      font-size: 25px;
      .subcardheading {
        color: color.$text-primary;
      }
    }
    .area-of-content {
      display: flex;
      justify-content: space-between;
      padding-top: 5rem;
      gap: 4.5rem;
      .content1 {
        background-color: color.$primary-color;
      }
      .content2 {
        background-color: color.$primary;
      }
      .content3 {
        background-color: color.$text-primary;
      }
      .imagediv {
        height: 70px;
        width: 70px;
        padding: 0.9rem;
        border-radius: 1rem;
        color: color.$white;
      }
      .content-container {
        gap: 1rem;
        color: color.$secondary-dark;
      }
    }
  }
  .section-2{
    background-color: color.$shade;
    display: flex;
    padding-top: 3rem;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    .header{
      margin-bottom: 1.5rem;
      color: color.$text-primary;
      text-align: left !important;
    }
    .section2-image{
      width: 100%;
      margin-right: 10%;
    }
    .subtitlesection2{
      line-height: 1.7rem;
      text-align: left;
    }
  }
  // .section-3{
  //   // position: relative;
  // }
}
