@use "../../defaults/color_variable" as varcolor;
@use "../../defaults/fonts";

.login-main {
  height: 100svh;
  display: flex;
//   gap: 7%;
  justify-content: space-between;
  margin-top: -4.8rem;
  overflow: hidden;
  align-items: center;
  font-family: varcolor.$font-family;
  color: varcolor.$primary-dark;

  @media (max-width: 768px) {
    margin-top: 10%;
    flex-direction: column;
    gap: 5%;
  }

  .error {
    font-family: varcolor.$font-family-secondary;
    color: varcolor.$errored-dark;
    font-size: small;
  }

  .centercard {
    border-radius: 1.5rem 0rem 0rem 1.5rem;

    @media (max-width: 768px) {
      border-radius: 1.5rem 1.5rem 0rem 0rem;
    }
  }

  .login-img {
    font-weight: bold;
    width: 45%;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      display: none;
    }
  }

  .login-card {
    width: 50%;
    height: 100%;
    padding: 8% 6rem;
    background-color: #ffffff00;
    box-shadow: none;
    color: varcolor.$primary-dark;
    overflow-y: scroll;
    @media (max-width: 768px) {
      width: 90%;
    }

    .signup-txt {
      color: varcolor.$primary-color;
    }

    .login-close-btn,
    .signup-close-btn {
      color: varcolor.$primary-dark;
      height: 1.5rem;

      @media (max-width: 768px) {
        height: 1rem;
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    .login-header {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .login-form {
      .textbtwline {
        font-size: 0.7rem;
        color: varcolor.$ternary;
        margin: 0.6rem 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before,
        &::after {
          content: "";
          flex: 1;
          border-bottom: 1px solid varcolor.$ternary;
        }
        &::after {
          margin-left: 10px;
        }
        &:before {
          margin-right: 10px;
        }
      }

      .google-btn {
        background-color: varcolor.$secondary-shade;
        margin: 0.5rem 0rem;
        border-radius: 14px;
        color: varcolor.$primary-dark;
        box-shadow: none;
      }

      .form-input {
        margin: 0.5rem 0rem;
        padding: 0.7rem;
        background-color: varcolor.$shade;
        border-radius: 6px;

        @media (max-width: 768px) {
          padding: 0.5rem;
        }
      }

      .login-btn {
        background-color: varcolor.$primary-dark;
        margin: 0.5rem 0rem;
      }
    }

    .login-footer {
      margin: 0.5rem 0rem;
    }
  }
  .login-card::-webkit-scrollbar {
    width: 0.7rem;
    background-color: #a2a2a29d;
  }
  .login-card::-webkit-scrollbar-thumb {
    background: #274760;
    border-radius: 5px;
    height: 1rem !important;
    width: 0.51rem !important ;
  }
}
