@use "./../../defaults/color_variable";

.site-nabar{
    background-color: color_variable.$primary;
    // height: 100% !important;
    padding: 1rem 0rem;
    color: color_variable.$white;
    .list-menu-item{
        margin-bottom: 1rem;
        cursor: pointer;
    }
    .active{
        background-color: color_variable.$secondary-dark;
        padding: 1rem;
        position: relative;
        &::before { 
            content: "";
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 6%; 
            height: 100%; 
            border-radius: 0rem 1rem 1rem 0rem;
            background-color: color_variable.$primary-color;
        }
    }
}
.site-navbar{
    background-color: color_variable.$primary;
    color: color_variable.$white;
    .max-w-\[1024px\] {
        max-width: 100%;
    }
}
